@import "colores";

/*-------------------BODY--------------------*/

.body{
    background-color: rgb(255, 255, 252);
}

/*HEADER*/

        #header {

            background-color: #FDE5D9;
            }

/*-------------------------Body-Contenido-------------------------*/
/*IMAGEN INICIO*/



        .servicios{
            background:  #FDE5D9;

        }
        .sobremi {
            background: #FDE5D9;

        }
        .contactos {
            background: #FDE5D9;

        }

/*FOOTER*/

footer {
    background-color: #FDE5D9;
    color: rgb(0, 0, 0);
}

